@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Orbitron:wght@400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* This is critical */
  background-color: #051c3d; /* Set the default background color */
  background: linear-gradient(to right, #004e92, #000428);
}
.container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex; /* Using flex to align children */
  flex-direction: column; /* Align children vertically */
  justify-content: flex-start;
  background-color: #051c3d;
  background-size: cover;
  background-position: center;
  overflow-y: hidden;
}

.content {
  position: relative;
  z-index: 1;
  background: #010314;
  box-shadow: 0 0 40px 10px rgba(255, 255, 224, 0.6);
  
}

.round-edges {
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right, #004e92, #000428);
  border-radius: 70px 70px 0 0;
 }

 .scroll-bg {
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right, #004e92, #000428);
 
 }



.styled-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}
.scrollable {
  overflow-y: auto;
}

.height-100 {
  height: 100%;
}
.height-93vh {
  height: 93vh;
}
.top-2percent {
  top: 2%;
}

.non-scrollable {
  overflow-y: hidden;
}

.styled-button:hover {
  background-color: #0056b3;
}

.styled-button:active {
  transform: scale(0.98);
}

.tg-download-container {
  background-color: #05053b;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: large;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15); /* Black overlay with 50% opacity */
  z-index: 5; /* Lowered to ensure game elements can be above */
}

.score {
  font-weight: 800;
  font-size: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.monster-icon {
  font-size: 48px;
  cursor: pointer;
  z-index: 15; /* Ensure it's above the overlay */
  margin-bottom: 3rem;
}

.tapmaster-animation {
  animation: flowUpsideDown 1s infinite;
}

/* .game-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease-in-out;
  opacity: 0.8;
} */

.game-container {
  /* position: relative; */
  top:20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease-in-out;
  opacity: 0.9;
  border-radius: 70px 70px 0 0;
  box-shadow: 0 0 20px 4px rgba(255, 255, 224, 0.6);
  width: 100%; /* Make sure it fills the container width */
  height: 100%; /* Make sure it also fills the container height */
  overflow: hidden;
  background: radial-gradient(circle, rgba(255, 255, 0, 0.6), rgba(255, 255, 0, 0) 70%);
  /* background-image: url("/src/assets/bg/2.png");
  background-repeat: no-repeat;   
  background-position: center 50px; */

}

.game-container-scrollable {
  /* position: relative; */
  top:20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease-in-out;
  opacity: 0.8;
  /* border-radius: 70px 70px 0 0;
  box-shadow: 0 0 20px 4px rgba(255, 255, 224, 0.6); */
  width: 100%; /* Make sure it fills the container width */
  height: 100%; /* Make sure it also fills the container height */
  overflow: hidden;
}

@keyframes flowCoins {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}


.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
  /* background-color: #0b8793; */
  width: 100%;
}

.data-item {
  flex: 1 1 calc(33.3% - 24px); /* Grow to fill the space, 'calc' for 3 per row considering margin */
  margin: 5px;
  padding: 5px;
  border: 2px solid #38766d;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px; /* Minimum width of each item */
  max-width: 300px; /* Maximum width of each item */
}


.description {
  font-size: 12px; /* Small text size for descriptions */
  color: #f9ecec; /* Dark grey text color */
}

.value {
  font-size: 18px; /* Larger text size for values */
  font-weight: bold; /* Bold font weight for values */
  color: #ffffff; /* Darker text color */
  margin-top: 10px; /* Space between description and value */
}
.card {
  background-color: #270404;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: transform 0.2s;
  margin-bottom: 10px;
}


.card:hover {
  transform: translateY(-5px); /* Slight raise effect on hover */
}

/* .card img {
  width: 50px;
  height: 50px;  
  align-self: center;  
} */

.card-title {
  font-size: 1.5rem;
  color:yellow;
  margin-top: 10px;
  text-align: center; /* Center title text */
}

.card-description {
  font-size: 1rem;
  color: #f3eded;
  margin-top: 5px;
  text-align: center; /* Center description text */
}

.card-progress {
  background-color: #eee;
  border-radius: 5px;
  height: 10px;
  width: 100%;
  margin-top: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* background: rgba(0, 0, 0, 0.5); Optional: visibility improvement */
  color: white;
  font-size: 1.2rem;
}

.user-info, .level-info {
  display: flex;
  align-items: center;
  gap: 8px; /* Space between icon and text */
}

.user-info {
  margin-left: 10px; /* Space from the left edge */
}

.level-info {
  margin-right: 10px; /* Space from the right edge */
}
.card-progress-bar {
  background-color: #4CAF50;
  height: 100%;
  border-radius: 5px;
}
 
.three-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjusts spacing around items */
  align-items: stretch; /* Optional: Ensures that items of a row are the same height */
}
.two-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjusts spacing around items */
  align-items: stretch; /* Optional: Ensures that items of a row are the same height */
}

@media (min-width: 480px) { /* Adjust this breakpoint based on your specific design requirements */
  .three-cards-container .card {
      flex: 0 0 31%; /* Three cards per row */
      margin-bottom: 20px; /* Adds margin around each card */
  }
  .two-cards-container .card {
    flex: 0 0 48%; /* Two cards per row with a little space between */
    margin-bottom: 20px; /* Adds margin around each card */
  }
}

.full-width-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #0e4074;
  border-radius: 15px;
  margin: 10px;
  width: calc(100% - 22px); /* Adjust the width to account for margins */
  color: white;
  background-color: #001510;
   /* box-shadow: 0 4px 8px rgba(8, 23, 84, 0.1); Optional: adds depth */
  /* overflow: hidden; */
  padding-bottom: 10px;
  /* font-family: 'Courier New', Courier, monospace; */
  /* opacity: 0.7; */
}

.full-width-card img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.full-width-card button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none; /* Removes the focus outline */
}

.full-width-card button img {
  width: 20px;
  height: 20px;
}
.fullwidth-card-label{
  font-size: 20px;
  font-weight: 800;
  color: hsl(0, 52%, 95%);
  margin-left: 10px;

} 
.fullwidth-card-progress{
  width: 100%;
  height: 10px;
  /* background-color: #0e4074; */
  border-radius: 5px;
  margin-top: 10px;
  justify-content: center;

}
.first-card {
  padding-top: 40px;
}
.card-container{
  width: calc(100% - 22px); /* Adjust the width to account for margins */

}

.last-card {
  padding-bottom: 30px;
}

/* MinePage Heading */
.mine-page-heading {
  color: #FFF; /* White text color for visibility */
  font-size: 2rem; /* Large font size for emphasis */
  font-weight: bold; /* Bold font weight for importance */
  padding-top: 20px; /* Top padding to distance from other content */
  text-align: center; /* Center the text */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Text shadow for depth and readability */
  margin-bottom: 30px; /* Space below the heading */
}















.gradient1 {
  background: #f953c6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b91d73,
    #f953c6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b91d73,
    #f953c6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient2 {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient3 {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient4 {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient5 {
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient6 {
  background: #ad5389; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3c1053,
    #ad5389
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3c1053,
    #ad5389
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient7 {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient8 {
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1cb5e0,
    #000046
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1cb5e0,
    #000046
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient9 {
  background: #44a08d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #093637,
    #44a08d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #093637,
    #44a08d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* .gradient10 {
  
} */

.gradient11 {
  background: #3a7bd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3a6073,
    #3a7bd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3a6073,
    #3a7bd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient12 {
  background: #00bf8f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #001510,
    #00bf8f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #001510,
    #00bf8f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient13 {
  background: #360033; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0b8793,
    #360033
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0b8793,
    #360033
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient14 {
  background: #780206; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #061161,
    #780206
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #061161,
    #780206
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient15 {
  background: #870000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #190a05,
    #870000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #190a05,
    #870000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
